{% extends 'base.html' %}
{% block title %}Admin - Approve Reviews{% endblock %}

{% block content %}
<h2>Pending Reviews</h2>
{% for review in reviews %}
  <div class="review admin-review">
    <b>Product ID:</b> {{ review['product_id'] }} <br>
    <b>Name:</b> {{ review['name'] }} <br>
    <b>Rating:</b> {{ review['rating'] }} <br>
    <b>Message:</b> {{ review['message'] }} <br>
   {% if review.get('image_url') %}
  <img src="{{ review['image_url'] }}" alt="User Product Pic">
  {% endif %}

    <form method="POST" action="/admin/approve/{{ review['_id'] }}">
      <button type="submit" class="submit-btn">Approve</button>
    </form>
  </div>
{% else %}
  <p>No pending reviews.</p>
{% endfor %}
{% endblock %}
